<h3>Demand</h3>
<div *ngFor="let arm of (actor$ | async).inventory.getList()">
  <div class="demand-{{(actor$ | async).getDemand(arm.name)}}">{{arm.name}} <span>{{(actor$ | async).getDemand(arm.name)}}</span></div>
</div>
