
    <h2>{{winner.name}}
      -
      <span class="major" *ngIf="skirmish.majorVictory">
        Major
      </span>
      Victory</h2>
    <h3>{{skirmish.location}}</h3>
      <img src="/assets/img/{{this.winner.name}}.png">

<div *ngFor="let victory of skirmish.victories">
  {{victory.somewarezi ? (this.somewarezi).name : (this.territoria).name}}
  <span *ngIf="victory.major">
    major
  </span>
  <span *ngIf="!victory.major">
    minor
  </span>
  {{victory.destroyedType}} victory
</div>

