<div>
	Producing : {{production}}
	Score : {{score}}
</div>

<mat-radio-group [(ngModel)]="production">
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-12">

	<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="item">
		<th mat-header-cell *matHeaderCellDef> Item </th>
		<td mat-cell *matCellDef="let element"> {{element.item}} </td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="SomewereziPrice">
		<th mat-header-cell *matHeaderCellDef> Somewerezi Price </th>
		<td mat-cell *matCellDef="let element"> {{element.SomewereziPrice}} </td>
	</ng-container>

	<ng-container matColumnDef="SomewereziProduce">
		<th mat-header-cell *matHeaderCellDef> Somewerezi Production </th>
		<td mat-cell *matCellDef="let element">
			<mat-radio-button [value]="GetRadioButtonValue('Somewerezi', element.item)"></mat-radio-button>
		</td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="TerritoriaPrice">
		<th mat-header-cell *matHeaderCellDef> TerritoriaPrice </th>
		<td mat-cell *matCellDef="let element"> {{element.TerritoriaPrice}} </td>
	</ng-container>

	<ng-container matColumnDef="TerritoriaProduce">
		<th mat-header-cell *matHeaderCellDef> Territoria Production </th>
		<td mat-cell *matCellDef="let element">
			<mat-radio-button [value]="GetRadioButtonValue('Territoria', element.item)"></mat-radio-button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</mat-radio-group>
<br/>
