<h3>inventory</h3>
<div>Rifles {{(actor$ | async).inventory.rifles.quantity}}</div>
<div>Tanks {{(actor$ | async).inventory.tanks.quantity}}</div>
<div>Planes {{(actor$ | async).inventory.planes.quantity}}</div>
