<p>tick-control</p>

<button (click)="tickService.pauseTimer()">Stop Timer</button>
<button (click)="tickService.startTimer()">Start Timer</button>
<button (click)="tickService.manualTick()">Manual Tick</button>
