<div>
	Factories : {{FactoryCount}}
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 col-6">

	<!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

	<!-- Position Column -->
	<ng-container matColumnDef="name">
		<th mat-header-cell *matHeaderCellDef> Unit </th>
		<td mat-cell *matCellDef="let element"> {{element.name}} </td>
	</ng-container>

	<!-- Name Column -->
	<ng-container matColumnDef="count">
		<th mat-header-cell *matHeaderCellDef> Count </th>
		<td mat-cell *matCellDef="let element"> {{element.count}} </td>
	</ng-container>

	<!-- Weight Column -->
	<ng-container matColumnDef="factories">
		<th mat-header-cell *matHeaderCellDef> Factories </th>
		<td mat-cell *matCellDef="let element"> {{element.factories}} </td>
	</ng-container>

	<!-- Symbol Column -->
	<ng-container matColumnDef="actions">
		<th mat-header-cell *matHeaderCellDef> Actions</th>
		<td mat-cell *matCellDef="let row">
			<button mat-button (click)="AddFactory(row)">+</button>
			<button mat-button (click)="RemoveFactory(row)">-</button>
		</td>
	</ng-container>

	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<button mat-button (click)="Produce()">Produce</button>
